<div class="input-form">
  <div class="card">
    <div class="title">Choose your preferences</div>
    <form action="/questionnaire" id="questionnaireForm" method="post">
      <div class="question">
        <p>Do you prefer outdoor activities?</p>
        <div class="radio-group">
          <input type="radio" class="outdoor" name="outdoor">
          <label for="hiking">Outdoor</label>
        </div>
        <div class="radio-group">
          <input type="radio" class="indoor" name="indoor">
          <label for="movies">Indoor</label>
        </div>
      </div>
      <div class="question">
        <p>How adventurous are you feeling today?</p>
        <div class="radio-group">
          <input type="radio" class="notatall" name="notatall">
          <label for="somewhat">Not at all</label>
        </div>
        <div class="radio-group">
          <input type="radio" class="somewhat" name="somewhat">
          <label for="very">Somewhat</label>
        </div>
        <div class="radio-group">
          <input type="radio" class="very" name="very">
          <label for="not-at-all">Very</label>
        </div>
      </div>
      <div class="question">
        <p>What's your preferred budget range for this date?</p>
        <div class="radio-group">
          <input type="radio" class="budgetlow" name="budgetlow">
          <label for="high">Low</label>
        </div>
        <div class="radio-group">
          <input type="radio" class="budgetmedium" name="budgetmedium">
          <label for="medium">Medium</label>
        </div>
        <div class="radio-group">
          <input type="radio" class="budgethigh" name="budgethigh">
          <label for="low">High</label>
        </div>
      </div>
      <div class="question">
        <p>How long would you like the date to last?</p>
        <div class="radio-group">
          <input type="radio" class="coupleofhours" name="coupleofhours">
          <label for="few-hours">Couple of hours</label>
        </div>
        <div class="radio-group">
          <input type="radio" class="halfday" name="halfday">
          <label for="half-day">Half Day</label>
        </div>
        <div class="radio-group">
          <input type="radio" class="weekend" name="weekend">
          <label for="weekend">Weekend</label>
        </div>
      </div>
      <input type="submit" value="Submit">
    </form>
  </div>
</div>