<section>
    <div class="main-heart">
        <div class="text-container">

        <p class="text">Discover personalized date suggestions based on your preferences
        </p>
        </div>
        
        <div class="heart"></div>

    </div>