{{#if userInSession}}
<h2>Hi, {{ userInSession.username }}!</h2>
<p>Here are your date ideas</p>
<button>
    <a href="/userProfile">Reload the page</a>
</button>
{{> categorizedDateIdeas}}
{{else}}

<br>
<p>You need to log in!</p>

{{/if}}