<div id="questionnaire-popup" class="questions-popup">

    <form id="questionnaireForm">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"><br><br>

        <label for="favorite_color">Favorite Color:</label>
        <input type="text" id="favorite_color" name="favorite_color"><br><br>


        <input type="submit" value="Submit">
    </form>

    <script src="questionnaire.js"></script>

</div>