<h2>Edit your data:</h2>

<form action="/users/{{users._id}}/edit" method="post">
  <label> Username:
    <input type="text" name="username" value="{{users.username}}" />
  </label>

  <label> Email:
    <input type="email" name="email" value="{{users.email}}" />
  </label>

  <label> Password:
    <input type="password" name="password" value="{{users.passwordHash}}" />
  </label>

  <button>Save changes</button>
</form>